@using MedicalWebsite.Extensions
@using System.Security.Claims

@{
    var user = await this.Context.GetAuthenticatedUser(MedicalWebsite.Constants.CookieName);
    string href = $"{ViewData["AuthorizationUrl"]}?scope=openid role profile&state=75BCNvRlEGHpQRCT&redirect_uri={MedicalWebsite.Constants.Callback}&response_type=id_token&client_id={MedicalWebsite.Constants.ClientId}&nonce=nonce&response_mode=form_post";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scenario2.WebApplication</title>
    <link href="~/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Content("~/Home/Index")" id="uma-title">Medical website</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto navbar-right">
                @if (user != null && user.Identity != null && user.Identity.IsAuthenticated)
                {
                    var userName = user.GetGivenName() ?? "Unknown";
                    var role = user.GetRole();
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Welcome @userName</a>
                        </li>
                        @if (role == "patient")
                        {
                            <li class="nav-item">
                                <a href="@Url.Content("~/Samples/Index")" class="nav-link">My samples</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Content("~/Resources/Index")" class="nav-link">Manage access</a>
                            </li>
                        }
                        @if (role =="doctor")
                        {
                            <li class="nav-item">
                                <a href="@Url.Content("~/Samples/Display?id=patient")" class="nav-link">View the samples of Mr.Patient</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="@Url.Content("~/Home/Disconnect")" class="nav-link">Disconnect</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="@href" class="nav-link">Authenticate</a>
                        </li>
                    </ul>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
